/*

 Table Of Contents
 1) General Text Formatting and Typography
 2) Site Wide Content
 3) Header Section

 ===============================================*/
/*
 1) General Text Formatting and Typography
 ----------------------------------------*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.2;
	text-transform: uppercase;
}
h1, .h1 {
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
}
h2, .h2 {
	font-size: 36px;
	font-weight: bold;
	color: #2c3740;
}
h3, .h3 {
	font-size: 32px;
	font-weight: 700;
	color: #2c3740;
}
h4, .h4 {
	font-size: 24px;
	color: #2c3740;
}
h5, .h5 {
	font-size: 18px;
	color: #2c3740;
}
h6, .h6 {
	font-size: 14px;
	font-weight: bold;
	color: #2c3740;
}
p {
	font-size: 15px;
	line-height: 1.6;
	color: #8494a0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
ul, ol {
	padding-left: 0px;
	margin-bottom: 0px;
}
[class^="icon-"] {
	background-image: url(../img/icons.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

/*
 2) Site Wide Content
 ----------------------------------------*/
#content {
	width: 100%;
	position: relative;
}
#wrapper {
	position: relative;
	width: 100%;
}
body {
	font-size: 15px;
	color: #94949d;
	font-family: OpenSans-Regular;
	font-weight: 400;
	/*background: #fdfdfd; */
	/*background: #f5f5f5 url(../images/patterns/grey.png); */
	-webkit-font-smoothing: antialiased;
}
.btn {
	font-family: 'karla', sans-serif;
}
.btn-default {
	padding: 0 20px;
	display: block;
	text-align: left;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	border: 0px none;
	border-radius: 0px;
	text-transform: uppercase;
}
.btn-effect i {
	width: 34px;
	margin-left: 40px;
	display: inline-block;
}
.btn-effect i {
	transform: translateX(0);
	-webkti-transform: translateX(0);
}
.btn-default:hover {
	background-color: #58616c;
	color: #fff;
}
input:focus, textarea:focus, button:focus {
	outline: none;
}
.center {
	text-align: center;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
*.clearfix {
	zoom: 1;
}
.zoom img {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.img-thumb {
	display: block;
	overflow: hidden;
}
.img-thumb:hover img, .img-thumb:focus img, .zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
[class^="icon-"], [class*="icon-"] {
	background-image: url(../images/sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 14px;
}
.bottom-border {
	border-bottom: 1px solid #e0e6ec !important;
}
.custom-padding {
	padding-top: 27px;
}
.custom-zero-padding {
	padding: 0;
}
.custom-right-padding {
	padding-right: 0;
}
.custom-footer-padding {
	padding-left: 15px;
}
.custom-margin {
	margin-left: 15px;
}
.custom-margin-bottom {
	min-height: 210px;
}
.owl-page span {
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	width: 12px;
}
.pos-t {
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
}
.flip-text {
	transform: scale(-1, 1);
}
.anim-section {
	position: relative;
	visibility: visible;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 0;
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px);
	transform: translateY(100px);
}
.anim-section.animate {
	visibility: visible;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 1;
	-webkit-transform: translate(0px);
	-moz-transform: translate(0px);
	-ms-transform: translate(0px);
	-o-transform: translate(0px);
	transform: translate(0px);
}
.parallax {
	background-size: cover;
}
/*
 3) Header Section
 ------------------------------*/
.main-header {
	background: #fff;
}
#header {
	width: 100%;
}
/*
 sticky header style
 ------------------------------*/
body #header {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
body #header.fixed {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}
body #header.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	background: #fff;
}
body #header.intelligent {
	position: static !important;
}
body #header.intelligent {
	position: fixed !important;
}
body #header.up {
	top: -162px;
	opacity: 0;
	visibility: hidden;
}
body #header.down {
	top: 0;
	opacity: 1;
	visibility: visible;
}
.top-m {
	margin-top: 179px !important;
}
body #header.fixed.intelligent.fix .main-header {
	position: relative;
}
.header {
	position: relative;
	z-index: 9999;
}
.primary-header {
	background: #eaedf0;
	position: relative;
}
.mail {
	padding-top: 12px;
}
.mail span {
	color: #2c3740;
	display: inline-block;
	margin-left: 9px;
	vertical-align: middle;
	font-size: 15px;
	letter-spacing: 0.1px;
}
.mail span a {
	color: #2c3740;
}
.social {
	list-style-type: none;
	overflow: hidden;
	float: right;
	padding-left: 24px;
	font-size: 0;
}
.social li {
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #cdd4da;
	width: 51px;
	text-align: center;
}
.social a {
	display: block;
	padding: 12px 0;
	font-size: 18px;
	color: #8e9ba7;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
}
.social a:hover {
	color: #ffffff !important;
}
.request {
	color: #ffffff !important;
	font-size: 14px !important;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	float: right;
	padding: 15px 0 14px !important;
	width: 220px;
	text-align: center;
	position: relative;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
}
.request::after {
	border-left: 20px solid transparent;
	border-right: 20px solid #ffffff;
	border-top: 50px solid transparent;
	border-bottom: 50px solid #ffffff;
	content: "";
	position: absolute;
	right:-1px;
	top: -2px;
}
.request {
	position: relative;
	z-index: 9;
	overflow: hidden;
}
.social::before {
	content: "";
	background: #ffffff;
	height: 102%;
	width: 1008%;
	position: absolute;
	right: -979.6%;
	top: 0;
}
.logo {
	display: block;
	margin-top: -9px;
}
.call-us ul {
	list-style-type: none;
	line-height: 1.3;
	padding-top: 25px;
}
.call-us ul li {
	display: inline-block;
	font-family: karla;
	font-weight: bold;
	padding: 0 1px;
	vertical-align: top;
	position: relative;
}
.call-us ul li:first-child:after {
	content: "";
	background: #d5dce4;
	display: block;
	position: absolute;
	right: -15px;
	top: 0;
	width: 1px;
	height: 30px;
}
.call-us ul li:last-child {
	padding: 0 25px !important;
}
.transport {
	float: right;
	font-weight: bold;
	font-size: 11px;
	color: #2c3740;
}
.homepage .transport {
	font-size: 12px;
}
.transport > span {
	display: block;
}
.call-us img {
	margin-right: 12px;
	vertical-align: top;
	float: left;
}
.call-us ul li a {
	font-size: 30px;
	color: #2c3740;
	line-height: 1;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
}
.call-us {
	float: right;
}
.navigation {
	list-style-type: none;
	background: #980000;
	position: relative;
	margin-right: 27px;
	padding-left: 38px;
	width: 846px;
	float: right;
	margin-top: 24px;
	font-size: 0;
}

.navigation:before {
	border-left: 19px solid #ffffff;
	border-right: 19px solid transparent;
	border-top: 25px solid #ffffff;
	border-bottom: 25px solid transparent;
	content: "";
	position: absolute;
	left:-1px;
	top:-1px;
}
.navigation > li:first-child:before {
	border-left: 19px solid transparent;
	border-right: 19px solid #980000;
	border-top: 25px solid transparent;
	border-bottom: 25px solid #980000;
	content: "";
	position: absolute;
	left: -38px;
	top: 0;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}
.navigation > li:first-child:hover:before {
	border-left-color: transparent;
	border-right-color: #ae0000;
	border-top-color: transparent;
	border-bottom-color: #ae0000;
}
.navigation:after {
	content: "";
	background: #980000;
	display: block;
	width: 350%;
	height: 100%;
	right: -350%;
	top: 0;
	position: absolute;
}
.navigation > li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	border-left: 1px solid #980000;
	position: relative;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}
.navigation > li:hover {
	background: #ae0000;
}
.navigation li:first-child {
	border-left: 0px;
}
.navigation li a {
	display: block;
	padding: 16px 24px 14px 22px;
	color: #fff;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
	outline: none;
	text-decoration: none;
	font-weight: 800;
}
.sub-menu {
	position: absolute;
	top: 49px;
	z-index: 999;
	padding: 0 0;
	background: #ae0000;
	left: -17px;
	list-style-type: none;
}
.sub-menu > li {
	display: block !important;
	border-bottom: 1px solid #314351;
}
.sub-menu > li:hover {
	background: #980000;
}
.sub-menu a {
	min-width: 150px;
	padding: 10px 13px 10px 15px !important;
}
.nav-icon {
	padding: 0 5px;
	display: none;
}
.nav-icon span {
	display: block;
	width: 20px;
	height: 2px;
	margin-top: 7px;
	background: #ffffff;
}
